<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login-style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <div class="container px-4 py-5 mx-auto">
    <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="card card1">
          <div class="row justify-content-center my-auto">
            <div class="col-md-8 col-10 my-5">
              <div class="row justify-content-center px-3 mb-3">
                <img id="logo" src="https://www.educationracetozero.org/images/dlsud-logo__large.png">
              </div>
              <h3 class="mb-5 text-center heading">Welcome to DLSU-D</h3>

              <h6 class="msg-info">Please login to your account</h6>
              <form id="login-form" method="POST" action="/login">
              <div class="form-group">  
                <label class="form-control-label text-muted">Username</label>
                <input type="text" id="email" name="email" placeholder="Phone no or email id" class="form-control">
              </div>

              <div class="form-group">
                <label class="form-control-label text-muted">Password</label>
                <input type="password" id="psw" name="psw" placeholder="Password" class="form-control">
              </div>

              <div class="row justify-content-center my-3 px-3">
                <button class="btn-block btn-color" type="submit" >Login</button>
              </div>
            </form>
            </div>
          </div>
          <div class="bottom text-center mb-5">
            <p class="sm-text mx-auto mb-3">Don't have an account?
              <a href="/Registerpage" class="btn btn-white ml-2">Create new</a>
            </p>
          </div>
        </div>
        <div class="card card2">
          <div class="my-auto mx-md-5 px-md-5 right">
            <h3 class="text-white">We are more than just a University</h3>
            <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/login-page.js"></script>
</html>